h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  background-color: whitesmoke;
}

h2 {
  margin: 0.5rem 0;
}

.header {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
}

.years {
  color: rgb(31, 31, 31);
}
